body{
  background:#ffffff;
  background-image:linear-gradient(60deg, rgba(40,148,206,1) 20%, rgba(63,215,235,1) 100%);
  font-family: 'Oswald', sans-serif;
  
}

.card{
  background:#ffffff;
  border-radius:10px;
 box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding: 0;
  
}
.main{
  display: flex;
  height:100vh;
  flex-direction: column;
  justify-content: center; 
  padding: 0;
}

.logo{
  width:150px;
  height:150px;
  background-color: #ffffff;
  border-radius:75px;
  margin:10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo > img{
    margin:0 auto;
    margin-left: 18px;
}

.welcome-tag{
  text-align:center;
  padding:10px;
  font-weight:900;
  font-size:25px;
  line-height: 1.5;
  letter-spacing: 1.2px;
  color:#ffffff;
  text-transform: uppercase;
}
.construction{
  text-align:center;
  font-weight:400;
  padding : 0px 10px 10px 10px;
}

.contact-content{
    display: block;
    width: 100%;
    margin-top:20%;
}

.contact-content > h4{
    font-weight: Bold;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.address{
  text-align:center;
  font-size: 18px;
}
.address > p{
    margin: 20px 0;
}

.phone{
    font-size: 20px;
    font-weight: 400;
}

.mail{
     font-size: 20px;
    font-weight: 400;
}

.contact-sec{
  text-align:center;
  padding: 50px;
  background: #fff;
  display: flex;
  border-radius: 0px 10px 10px 0;
    align-items: center;
    justify-content: center;
}

.welcome-sec{
    padding:50px;
    background: linear-gradient(to right, rgba(40,148,206,0.82) 0%, rgba(63,215,235,0.82) 100%),url("https://static.pexels.com/photos/245618/pexels-photo-245618.jpeg");
    background-size:cover; 
    border-radius: 10px 0px 0px 10px;
    
}

@media(max-width:970px){
    .welcome-sec{
        border-radius:0;
    }
    .contact-sec{
        border-radius: 0;
    }
}

